<div ng-controller="AstBuilderCtrl">
  <div class="ast">
    <div ng-if="astIsEmpty()">
      <button class="ui button" ng-click="createBlock('if')">+</button>
    </div>
    <div ng-if="!astIsEmpty()">
      <div class="ui segment">
        <p>
          <strong>if</strong>
          <button ng-if="astIsBarebonesIfWithPlaceholder()" class="ui button"
            ng-click="getIfConditions()">add condition</button>
          <button ng-if="!astIsBarebonesIfWithPlaceholder() ||
            astIsIfWithConditionAndAction()" class="ui button">input contains
            "{{getIfCondition()}}"</button>
          <strong>then</strong>
        </p>
        <div class="ui segment">
          <button ng-if="astIsIfWithCondition()" class="ui button" ng-click="addIfAction()">Add action</button>
          <p ng-if="astIsIfWithConditionAndAction()">
            respond with "(╯°□°）╯︵ ┻━┻"
          </p>
        </div>
        <p>
          <strong>end</strong>
        </p>
      </div>
    </div>
    {{ ast | json }}
  </div>

  <div class="ui modal" id="ifConditionsModal">
    <div class="header">Choose if Condition</div>
    <div class"content">
      <ul ng-repeat="condition in availableIfConditions">
        <li ng-click="setIfCondition(condition)">{{condition}}</li>
      </ul>
    </div>
  </div>
</div>
