<div class="ast-element">
  <div ng-if="astIsEmpty()">
    <div class="ui vertical menu" expression-menu>
      <div class="ui dropdown item">
        Expressions
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" ng-click="createBlock(expression)" ng-repeat="expression in expressions">{{expression}}</a>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="astIsIf()">
    <ast-if data-ast="$parent.ast"></ast-if>
  </div>
  <div ng-if="astIsContains()">
    <ast-contains data-ast="$parent.ast"></ast-contains>
  </div>
  <div ng-if="astIsResponse()">
    <ast-response data-ast="$parent.ast"></ast-response>
  </div>
  <div ng-if="astIsUnknown()">
    {{ ast | json }}
  </div>
</div>
