<h1>Rules</h1>

<button class="ui primary button" ng-click="newRule()">New Rule</button>
<button class="ui button" ng-click="back()">Back</button>

<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>AST</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="rule in rules" ng-click="editRule(rule)">
      <td>{{rule.id}}</td>
      <td>{{rule.ast}}</td>
      <td><a ng-click="deleteRule(rule); $event.stopPropagation()">Delete</a></td>
    </tr>
  </tbody>
</table>

