<h1>Chatbots</h1>

<div>
  <form>
    <input ng-model="chatbot.name"></input>
    <button ng-click="addChatbot(chatbot.name)">Create new chatbot</button>
  </form>
</div>

<table class="ui celled table chatbots">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="chatbot in chatbots" ng-click="showChatbotRules(chatbot)">
      <td>{{chatbot.id}}</td>
      <td>{{chatbot.name}}</td>
      <td><a href='#' ng-click="removeChatbot(chatbot)">Remove</a></td>
    </tr>
  </tbody>
</table>

<div>
  <form>
    <input ng-model="chatbot.name"></input>
    <button ng-click="addChatbot(chatbot.name)">Create new chatbot</button>
  </form>
</div>
